body{
  background-image: url('../../../../assets/images/download.jpg') ;
   
    
}

.drugs-list-container {
    max-width: 96%;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    background-image: url('../../../../assets/images/img12.jpg');
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .drugs-list-container h1 {
    color: #343a40;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .search-input {
    max-width: 1500px;
    margin-right: 10px;
    border-radius: 30px;
  }

  
  
  .table {
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .thead-dark th {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .btn-primary, .btn-warning, .btn-success {
    margin-right: 5px;
  }
  
  .alert {
    font-size: 1.1rem;
  }
  